@import "../bower_components/susy/sass/susy";
@import "../bower_components/compass-breakpoint/stylesheets/breakpoint";

$susy: (
  columns: 12, 
  container: 1920px,
  gutters: 0.25,
  global-box-sizing: border-box,
//  debug: (image: show-columns)
);

// RESETS
figure {
	margin: 0;
}
// END RESETS

@include border-box-sizing;

.wrap {
  @include container;
}

header {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-weight:normal;
  font-size: 50px;

  @include breakpoint(min-width 700px) {
    font-size: 100px;
  }
}
.movie-page {
  @include span(12);


  .movie-search-label {
    display: inline;
    padding-right: 10px;
  }

  @include breakpoint(min-width 700px) {
    @include span(10);
    margin-left: span(2);
    .movie-search-label {
      display: block;
      padding-right: 0px;
    }
  }

    
}

.movie-grid-card {
  @include span(12);

  text-align: center;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
    height: auto;
  }

  // Tablet or higher
  @include breakpoint(min-width 700px) {
    @include span(5);

    img {
      width: 220px;
      height: 342px;
    }

    height: 530px;
  }

  @include breakpoint(min-width 1200px) {
    @include span(3);
  }

  @include breakpoint(min-width 1600px) {
    @include span(2);
  }

  @include breakpoint(min-width 3340px) {
    @include span(1);
  }
}

.remodal[data-remodal-id="modal-trailer"] {

  a.book-link {
    margin-top: 3px;
    display: block;
  }

}

footer {

  text-align: center;

  .copyright {
    font-weight: bold;
  }
}

